/* #region general rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fredoka", serif;
}

img {
    width: 100%
}

/* #endregion general rules */

/* #region color palet*/
:root {
    --js-tems-title: #e53170;
}

/* #endregion color palet*/

/* #region class support*/
.text-title {
    color: var(--js-tems-title);
}

/* #endregion class support*/

.card_text {
    padding-top: 0.75rem;
}

#name {
    margin-bottom: 0.1rem;

}

#role {
    font-size: 12px;
    margin-bottom: 0.1rem;
}